[user]
	name = Samuel Parkinson
	email = samuel.parkinson@hey.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	ignorecase = false
	editor = nano
	pager = less -F -X
	whitespace = trailing-space,space-before-tab,tab-in-indent
[push]
	default = current
	followTags = true
[rerere]
	enabled = true
[alias]
	branches = branch -vv
	remotes = remote -v
	tags = log --date-order --tags --simplify-by-decoration --pretty=format:\"%ci %d\"
[remote "origin"]
	prune = true
[log]
	abbrevCommit = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[url "https://"]
	insteadOf = git://
[init]
	defaultBranch = main
[pull]
	ff = only
